.all-around-applications {
    width: 1000px;
}

.all-around-applications h3 {
    font-size: 16px;
    color: #047364;
}

.central-content {
    display: flex;
    flex-direction: row;
}

.applications-card {
    display: flex;
    flex-direction: column;
}


.application-card {
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem;
}

.applicant-cards {
    display: flex;
    flex-direction: row;
    margin-top: .5rem;
    width: 100%;
}

.btn-download-cv {
    background: none;
}

.btn-download-cv img {
    width: 3rem;
    height: 3rem;
}

.user-info-own {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}


.info-box-user {
    width: 12rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100%;
    border: 1px solid black;
}