body {
    background-color: #eff8f1;
}
.my-page-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.my-page-container h3,
h1 {
    text-align: left;
    margin-bottom: 20px;
    color: #047364;
}

.profile-card {
    display: flex;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profile-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%; /* Bild och namn tar upp halva bredden */
}

.profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 50px;
    border: 5px solid #ccc; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    object-fit: cover; 
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%; /* Den andra halvan tar upp 50% av bredden */
    padding-left: 20px; /* Flytta texten lite åt höger */
}

.profile-info h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.profile-info p {
    margin-bottom: 5px;
}

.profile-info .info-row {
    display: flex;
    justify-content: flex-start;
    padding: 5px 0;
}

.profile-info .info-row label {
    margin-right: 10px; 
}

textarea,
input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    outline: none;
    transition: border-color 0.2s;
}


textarea:focus,
input[type="text"]:focus {
    border-color: #007bff;
}

.btn-secondary {
    padding: 5px 12px;
    font-size: 0.9em;
    border-radius: 5px;
    background-color:#6c757d;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.skills-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
}


.skills-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    background-color: #f1f1f1;
    margin-bottom: 5px;
    border-radius: 4px;
    font-size: 14px;
}


.skills-list li button {
    background: none;
    border: none;
    color: #ff4d4d;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    transition: color 0.2s;
}


.skills-list li button:hover {
    color: #ff0000;
}

.mLogin {
    background-color: #047364 !important;
}

